// Created by MiliGao on 2019-01-30.
.mineContainer
  flex 1
  justify-content center
  align-items center
  background #fff

.switchBar
  flex-direction row
  justify-content center
  align-items center
  height 80px

.text
  font-size 14px
  color #22d422
  margin 0 10px