{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    [
      "babel-plugin-module-resolver",
      {
        "extensions": [
          ".js",
          ".ts",
          ".tsx",
          ".css"
        ],
        "root": [
          "./src"
        ]
      }
    ]
  ]
}
